:root {
  --fire: #e67300;
  --ice: #80ffff;
  --dark: #8000ff;
  --lightning: #4da6ff;
  --earth: #ffff00;
  --wind: #00b300;
  --element-none: #8c8c8c;
  --img-fire: #d17416;
  --img-ice: #a9fdfd;
  --img-dark: #713ba3;
  --img-lightning: #317ac4;
  --img-earth: #b1b157;
  --img-wind: #60a860;
  --img-element-none: #8c8c8c;
  --border-color: #999999;
}

.Details {
  display: inline-grid;
  grid-column: 1;
  grid-row: 8 / 16;
  width: 600px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0);
}

.Details div#wrapper {
  height: 450px;
}

.Details h3 {
  margin: 0;
  padding:  0 8px 0 8px;
  width: calc(100% - 16px);
  font-size: 20px;
  line-height: 36px;
}

.Details div#info-wrapper {
  width: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  margin-left: 8px;
}

.Details div#details-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 98px);
  grid-template-rows: repeat(8, 40px);
  border-radius: 16px;
}

.Details div#monster-name {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  outline: 2px solid var(--border-color);
  border-radius: 16px 0px 0px 0px;
  background-color: #222222;
}

.Details div#level-key {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  line-height: 40px;
  outline: 2px solid var(--border-color);
  background-color: #222222;
}

.Details div#class-key {
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
  line-height: 40px;
  outline: 2px solid var(--border-color);
  background-color: #222222;
}

.Details div#level-value {
  grid-area: 3 / 1 / 4 / 2;
  text-align: center;
  line-height: 40px;
  outline: 2px solid var(--border-color);
  background-color: #222222;
}

.Details div#class-value {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
  line-height: 40px;
  outline: 2px solid var(--border-color);
  background-color: #222222;
}

.Details img#card-image {
  width: 98px;
  height: 120px;
  grid-area: 1 / 3 / 4 / 4;
  object-fit: contain;
  outline: 2px solid var(--border-color);
  background-color: #222222;
}

.Details div#container-monster-image {
  grid-area: 4 / 1 / 9 / 4;
  outline: 2px solid var(--border-color);
  border-radius: 0px 0px 0px 16px;
  background-color: #222222;
}

.Details img#monster-image {
  width: 278px;
  height: 184px;
  padding: 8px;
  grid-area: 4 / 1 / 9 / 4;
  object-fit: contain;
}

.Details img.monster-image-wind {
  filter: drop-shadow(0px 0px 2px var(--img-wind));
}

.Details img.monster-image-dark {
  filter: drop-shadow(0px 0px 2px var(--img-dark));
}

.Details img.monster-image-ice {
  filter: drop-shadow(0px 0px 2px var(--img-ice));
}

.Details img.monster-image-fire {
  filter: drop-shadow(0px 0px 2px var(--img-fire));
}

.Details img.monster-image-earth {
  filter: drop-shadow(0px 0px 2px var(--img-earth));
}

.Details img.monster-image-lightning {
  filter: drop-shadow(0px 0px 2px var(--img-lightning));
}

.Details img.monster-image-element-none {
  filter: drop-shadow(0px 0px 2px var(--img-element-none));
}

.Details div#spawns-list {
  padding: 4px 0px 0px 8px;
  grid-area: 1 / 4 / 4 / 7;
  outline: 2px solid var(--border-color);
  border-radius: 0px 16px 0px 0px;
  background-color: #222222;
}

.Details div#bonuses-list {
  padding: 4px 0px 0px 8px;
  grid-area: 4 / 4 / 7 / 7;
  outline: 2px solid var(--border-color);
  background-color: #222222;
}

.Details div#container-element-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 80px;
  grid-area: 7 / 6 / 9 / 7;
  outline: 2px solid var(--border-color);
  border-radius: 0px 0px 16px 0px;
  background-color: #222222;
}

.Details img#element-icon {
  object-fit: scale-down;
}

.Details div#element-off {
  line-height: 40px;
  text-align: center;
  grid-area: 7 / 4 / 8 / 6;
  outline: 2px solid var(--border-color);
  background-color: #222222;
  white-space: nowrap;
  overflow: hidden;
}

.Details div#element-def {
  line-height: 40px;
  text-align: center;
  grid-area: 8 / 4 / 9 / 6;
  outline: 2px solid var(--border-color);
  background-color: #222222;
  white-space: nowrap;
  overflow: hidden;
}

.Details div#spawns-caption {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
}

.Details div#bonuses-caption {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
}

.Details img.icon-fire {
  filter: drop-shadow(0px 0px 3px var(--fire));
}

.Details img.icon-ice {
  filter: drop-shadow(0px 0px 3px var(--ice));
}

.Details img.icon-dark {
  filter: drop-shadow(0px 0px 3px var(--dark));
}

.Details img.icon-lightning {
  filter: drop-shadow(0px 0px 3px var(--lightning));
}

.Details img.icon-earth {
  filter: drop-shadow(0px 0px 3px var(--earth));
}

.Details img.icon-wind {
  filter: drop-shadow(0px 0px 3px var(--wind));
}

.Details img.icon-element-none {
  filter: drop-shadow(0px 0px 3px var(--element-none));
}