.MonsterSelector {
  display: inline-grid;
  grid-column: 1;
  grid-row: 4 / 7;
  width: 600px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0);
}

.MonsterSelector div#wrapper {
  width: 600px;
  height: 200px;
}

.MonsterSelector div#container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.MonsterSelector h3 {
  display: inline-block;
  margin: 0;
  padding:  0 24px 0 8px;
  font-size: 20px;
  line-height: 36px;
}

.MonsterSelector button.btn-monster {
  min-width: 48px;
  height: 24px;
  line-height: 14px;
  margin: 0 0 8px 8px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #aaaaaa;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
}

.MonsterSelector button.btn-open-world {
  background-color: rgba(0, 128, 128, 0.12);
}

.MonsterSelector button.btn-dungeon {
  background-color: rgba(229, 128, 255, 0.12);
}

.MonsterSelector button.btn-open-world:hover {
  background-color: rgba(0, 128, 128, 0.3);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
  transition: 0.15s;
}

.MonsterSelector button.btn-dungeon:hover {
  background-color: rgba(229, 128, 255, 0.3);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
  transition: 0.15s;
}

.MonsterSelector button.btn-monster:active {
  filter: contrast(25%);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.MonsterSelector button.btn-open-world.active {
  background-color: rgba(0, 128, 128, 0.4);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid #dddddd;
}

.MonsterSelector button.btn-dungeon.active {
  background-color: rgba(229, 128, 255, 0.4);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid #dddddd;
}

.MonsterSelector div.caption-legend {
  width: 14px;
  height: 14px;
  border: 1px solid #dddddd;
  border-radius: 50%;
}

.MonsterSelector div.caption-text {
  line-height: 36px;
  font-size: 12px;
  color: #bbbbbb;
}

.MonsterSelector div.caption-open-world {
  background-color: rgba(0, 128, 128, 0.25);
  margin-right: 4px;
}

.MonsterSelector div.caption-dungeon {
  background-color: rgba(229, 128, 255, 0.25);
  margin-left: 20px;
  margin-right: 4px;
}